@import 'src/styles/colors';
@import 'src/styles/placeholders';

.button-container {
	display: flex;
	align-items: center;
	flex-direction: column;

	.button-container__text {
		font-family: 'Mark Offc Pro';
		color: $blue;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: 0.25px;
		text-align: center;
		padding-top: 40px;
	}
}

.form-container {
	margin-bottom: 100px;
}

.form-content {
	@extend %center;

	.form-content__text {
		padding-top: 28px;
		display: inline-block;
		font-family: 'Mark Offc Pro';
		font-size: 14px;
		font-weight: normal;
		color: rgba($dark-indigo, 0.5);
	}
}

.form {
	display: flex;
	border-bottom: solid 1px rgba($dark-indigo, 0.35);
	width: 568px;
	padding: 12.5px 0;

	.form__input {
		font-family: 'Mark Offc Pro';
		border: 0;
		outline: 0;
		width: 100%;
		margin-left: 25px;
		font-size: 32px;

		&::placeholder {
			color: $dodger-blue;
		}
	}

	.form__code-container {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.form__code {
		font-family: 'Mark Offc Pro';
		font-weight: normal;
		font-size: 32px;
		line-height: 1.5;
		letter-spacing: 0.1px;
		color: $dark-indigo;
		padding: 0 19px;
	}

	.form__arrow {
		transition: transform 0.75s;

		&.form__arrow--up {
			transform: rotate(-180deg);
		}
	}
}
