@import 'src/styles/colors';

.list-container {
	position: relative;
	max-width: 600px;
	margin: auto;

	.list__input {
		position: absolute;
		width: 540px;
		height: 35px;
		padding: 5px 10px;
		top: 20px;
		background: $white;
		border: solid 1px #ddd;
		z-index: 3;
		border-radius: 5px;
		box-sizing: border-box;

		@media only screen and (max-width: 480px) {
			display: none;
		}
	}
}

.list-box {
	background-color: $white;
	box-sizing: border-box;
	position: absolute;
	top: -40px;
	overflow: hidden;
	padding: 65px 20px 5px 20px;
	height: 0;
	width: 100%;
	opacity: 0;
	z-index: 2;
	transition: opacity 0.25s linear 0.25s, height 0.75s ease-in-out;
	box-shadow: 0 0.3125em 0.3125em 0.3125em rgba(62, 131, 255, 0.07);

	&.active {
		opacity: 1;
		height: 200px;
	}

	@media only screen and (max-width: 480px) {
		padding-top: 20px;
	}
}

.list {
	height: 100%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: $purple;
	overflow-y: scroll;

	.list__item {
		position: relative;
		height: 35px;
		display: flex;
		align-items: center;
		font-size: 0.875em;
		padding-left: 40px;
		margin-bottom: 6px;

		.list__item__content {
			cursor: pointer;

			&:hover {
				color: darken($purple, 50%);
			}
		}

		.flag {
			position: absolute;
			top: 10.5px;
			left: 0;
		}
	}
}
