@font-face {
	font-family: 'Mark Offc Pro';
	src: url('../assets/fonts/MarkOffcPro-Heavy.woff2') format('woff2'),
	url('../assets/fonts/MarkOffcPro-Heavy.woff') format('woff'),
	url('../assets/fonts/MarkOffcPro-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Mark Offc Pro';
	src: url('../assets/fonts/MarkOffcPro.woff2') format('woff2'),
	url('../assets/fonts/MarkOffcPro.woff') format('woff'),
	url('../assets/fonts/MarkOffcPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mark Offc Pro';
	src: url('../assets/fonts/MarkOffcPro-Medium.woff2') format('woff2'),
	url('../assets/fonts/MarkOffcPro-Medium.woff') format('woff'),
	url('../assets/fonts/MarkOffcPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Mark Offc Pro';
	src: url('../assets/fonts/MarkOffcPro-Book.woff2') format('woff2'),
	url('../assets/fonts/MarkOffcPro-Book.woff') format('woff'),
	url('../assets/fonts/MarkOffcPro-Book.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Mark Offc Pro';
	src: url('../assets/fonts/MarkOffcPro-Bold.woff2') format('woff2'),
	url('../assets/fonts/MarkOffcPro-Bold.woff') format('woff'),
	url('../assets/fonts/MarkOffcPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.mop {
	font-family: 'Mark Offc Pro';
}
