@import 'src/styles/colors';

.header {
	background-color: $white;
	position: fixed;
	height: 80px;
	width: 100%;
}

.navbar,
.navbar__content {
	height: 100%;
}

.navbar__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__option__text {
	display: inline-block;
	font-family: 'Mark Offc Pro';
	font-size: 14px;
	font-weight: normal;
	line-height: 1.71;
	letter-spacing: normal;
	color: $dark-indigo;
	padding: 0 10px;
}
